body {
  text-align: center;
  background-color: #011f3f;
}

h1 {
  font-family: "Press Start 2P", cursive;
  color: #fff;
  margin: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 200px;
  height: 200px;
  border: 10px solid black;
  border-radius: 20%;
  margin: 16px;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}
